scripts/scala/*.sc
/docs/node_modules/
/docs/.next
/docs/out
.idea
logs
applications/store-build/tmp
/examples/wallet-demo/node_modules/
/examples/wallet-demo/test-results/
/examples/wallet-demo/node_modules/.bin/
/examples/wallet-demo/node_modules/@playwright/
/examples/wallet-demo/node_modules/playwright/
/examples/wallet-demo/node_modules/playwright-core/
/examples/wallet-demo/test-results/
