/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
        .break-words {
            white-space: normal;
            word-break: break-word;
        }
    }
